// ========== 1360px ==========
@media screen and (max-width: 1360px) {
  .container {
    padding-left: 110px;
    padding-right: 110px;
    max-width: 1360px;
  }

  .about__container {
    gap: 60px;
  }

  .services {
    padding-top: 122px;
    padding-bottom: 45px;
  }

  .services-line {
    top: 81px;
  }

  .services__text {
    font-size: 36px;
    min-width: auto;
  }

  .header {
    background: url("../assets/img/1360/header-background.webp") no-repeat
      center/cover;
  }

  .about-screen__container {
    background: url("../assets/img/1360/why-background.webp") no-repeat
      center/cover;
  }

  .about__why {
    max-width: 558px;
  }

  .tour-first {
    background: url("../assets/img/1360/tour-first.webp") no-repeat center/cover;
  }

  .tour-second {
    background: url("../assets/img/1360/tour-second.webp") no-repeat
      center/cover;
  }

  .tourists {
    background: url("../assets/img/1360/what-tourist-say-bg.webp") no-repeat
      center/cover;
  }

  .review-img {
    background: url("../assets/img/576/review-img.webp") no-repeat center/cover;
  }
}

// ========== 1024px ==========
@media screen and (max-width: 1024px) {
  .container {
    max-width: 1024px;
    padding-left: 32px;
    padding-right: 32px;
  }

  .services-line {
    top: 87px;
  }

  .services-line {
    max-width: 640px;
  }

  .header {
    background: url("../assets/img/1024/header-background.webp") no-repeat
      center/cover;
  }

  .about-screen__container {
    background: url("../assets/img/1024/why-background.webp") no-repeat
      center/cover;
  }

  .about__why {
    max-width: 550px;
  }

  .tour-first {
    background: url("../assets/img/1024/tour-first.webp") no-repeat center/cover;
  }

  .tour-second {
    background: url("../assets/img/1024/tour-second.webp") no-repeat
      center/cover;
    padding-top: 220px;
    padding-bottom: 120px;
  }

  .tourists {
    background: url("../assets/img/1024/what-tourist-say-bg.webp") no-repeat
      center/cover;
  }

  .review-img {
    background: url("../assets/img/576/review-img.webp") no-repeat center/cover;
  }
}

// ========== 768px ==========
@media screen and (max-width: 768px) {
  .container {
    max-width: 768px;
    box-sizing: border-box;
    padding: 0 24px;
  }

  .header {
    background: url("../assets/img/768/header-background.webp") no-repeat
      center/cover;
  }

  .nav__container {
    flex-direction: column;
    align-items: center;
    gap: 32px;
  }

  .first-screen {
    .search {
      position: relative;
      width: calc(100% - 120px);
      max-width: 647px;
      margin: 0 auto 211px auto;
    }
  }

  .about-screen__container {
    background: url("../assets/img/768/why-background.webp") no-repeat
      center/cover;
    padding-top: 60px;
    padding-bottom: 60px;
  }

  .about__container {
    display: flex;
    flex-direction: column-reverse;
    gap: 32px;
  }

  .about__why {
    max-width: 720px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .about-img__container {
    display: flex;
    flex-direction: row;
    gap: 24px;
    overflow-x: hidden;
  }

  .about-img__container img {
    margin: 0;
    width: clamp(200px, 48%, 348px);
    flex-shrink: 1;
  }

  .tourists {
    background: url("../assets/img/768/what-tourist-say-bg.webp") no-repeat
      center/cover;
    padding: 60px 0 120px 0;

    &-wrap {
      display: flex;
      flex-direction: column;
      gap: 24px;
      max-width: 720px;
      margin: 0 auto;
      width: 100%;
    }

    &-img,
    &-info {
      width: 100%;
      box-sizing: border-box;
    }

    &-img img {
      width: 100%;
      height: auto;
      display: block;
    }
  }

  .about-img-first {
    background: url("../assets/img/768/why-img-1.webp") no-repeat center/cover;
  }

  .about-img-second {
    background: url("../assets/img/768/why-img-2.webp") no-repeat center/cover;
  }

  .services {
    padding-top: 60px;
    padding-bottom: 60px;
  }

  .services__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 60px;
  }

  .services-line {
    display: none;
  }

  .tour-first {
    background: url("../assets/img/768/tour-first.webp") no-repeat center/cover;
    padding: 120px 0;
  }

  .tour-second {
    background: url("../assets/img/768/tour-second.webp") no-repeat center/cover;
    padding: 120px 0;
  }

  .tour__img-wrap {
    max-width: 720px;
  }
}

// ========== 576px ==========
@media screen and (max-width: 576px) {
  .container {
    padding: 0 18px;
    max-width: 576px;
    box-sizing: border-box;
  }

  .header {
    background: url("../assets/img/576/header-background.webp") no-repeat
      center/cover;
  }

  .first-screen {
    .search {
      position: relative;
      width: calc(100% - 36px);
      max-width: 540px;
      margin: 0 auto 211px auto;
    }

    &__inp {
      padding: 20px 83px 20px 36px;
    }
  }

  .nav-wrap {
    .nav {
      display: none;
    }

    .nav__container {
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .logo__title {
      margin: 0 auto;
    }

    .icon-burger {
      position: absolute;
      right: 18px;
      top: 50%;
      transform: translateY(-50%);
      display: block;
      fill: $white;
      cursor: pointer;
      transition: fill 0.3s, transform 0.3s;

      &:hover,
      &:focus {
        fill: $dark-blue;
        transform: scale(1.25);
      }
    }
  }

  .about-screen__container {
    background: url("../assets/img/576/why-background.webp") no-repeat
      center/cover;
  }

  .about__why {
    max-width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .about-img__container {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
    justify-content: space-between;
  }

  .about-img__container img {
    width: calc(50% - 8px);
    flex-shrink: 1;
  }

  .tour-first {
    background: url("../assets/img/576/tour-first.webp") no-repeat center/cover;
  }

  .tour-second {
    background: url("../assets/img/576/tour-second.webp") no-repeat center/cover;
  }

  .tourists {
    background: url("../assets/img/576/what-tourist-say-bg.webp") no-repeat
      center/cover;
    padding: 60px 0;

    &-wrap {
      display: flex;
      flex-direction: column;
      gap: 16px;
      max-width: 540px;
      margin: 0 auto;
      width: 100%;
    }

    &-img,
    &-info {
      width: 100%;
    }

    &-img img {
      width: 100%;
      height: auto;
      display: block;
    }
  }

  .about-img-first {
    background: url("../assets/img/576/why-img-1.webp") no-repeat center/cover;
  }

  .about-img-second {
    background: url("../assets/img/576/why-img-2.webp") no-repeat center/cover;
  }

  .review-img {
    background: url("../assets/img/576/review-img.webp") no-repeat center/cover;
  }
}
