$font-family: "Josefin Sans", sans-serif;
$second-family: "Aleo", sans-serif;

$accent: #5373fd;
$accent-darker: #486bfe;
$white: #fff;
$black: #000;
$dark-grey: #333;
$text-grey: #999;
$red: #ff6363;
$blue: #00a2ff;
$dark-blue: #0800ff;
